<div id="hero">
  <div class="inner">
    <div class="container">
      <article class="aboutCoder">
        <div class="details">
          <figure class="coderPicWrap">
            <img alt="esteer" src="{{getPhotoLink(coder)}}">
          </figure>
          <div class="info">
            <div class="handle">
              <a href="#">esteer</a>
            </div>
            <div class="country">India</div>
            <div class="memberSince">
              <label>Member Since:</label>
              <div class="val">Jan 01 2013</div>
            </div>
            <div class="memberSince" ng-if="true">
              <label>Total Earnings :</label>
              <div class="val">A lot</div>
            </div>
          </div>
        </div>
        <blockquote class="coderQuote">This might not work</blockquote>
      </article>
      <!-- /.aboutCoder -->
    </div>
  </div>
</div>
